* {

    margin: 0;
}

html {

    box-sizing: border-box;
    scroll-behavior: smooth;
}

.customscroll {

    background-color: #ED6A5A;
    transition: 0.5s;
    height: 3.5px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.menu-bar {

    display: none;
}

.socal-media-box a {

    text-decoration: none;
    color: white;
}

header {

    background: white;
    width: 100%;
    position: fixed;
    top: 0;
    padding-bottom: 25px;
    text-align: center;
    z-index: 1;
}

header>h1 {

    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: #454545;
    letter-spacing: 0.1em;
}

header>h1>span {

    color: #ED6A5A;
}

header nav a {

    font-size: 1.2em;
    text-decoration: none;
    color: black;
    margin: 10px;
    color: #454545;
    position: relative;
}

header nav a::after {

    content: "";
    width: 0px;
    position: absolute;
    left: 0;
    border-bottom: 1px solid #ED6A5A;
    display: block;
    transition: 0.5s;
}

header nav a:hover:after {

    width: 100%;
}

.image-slider {

    position: relative;
}

.image-slider img {

    width: 100%;
    height: 106vh;
}

.buttons {

    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    text-align: center;
    height: 45px;
    border-radius: 10px;
    bottom: -4%;
    left: 50%;
}

.buttons button {

    background-color: white;
    border: none;
    font-size: 2em;
}

.image-slider p {

    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 2.3em;
    left: 50%;
    padding: 5px;
    text-align: center;
    top: 50%;
    width: 70%;
    background: rgba(0, 0, 0, 0.5);
}

.order-link {

    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 20%;
}

.order-link a {

    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    position: relative;
    border: 2px solid #ED6A5A;
}

.order-link a::after {

    content: "";
    position: absolute;
    background-color: #ED6A5A;
    width: 0px;
    height: 100%;
    left: 0;
    display: block;
    z-index: -1;
    top: 0;
    transition: 0.5s;
}

.order-link a:hover:after {

    width: 100%;
    transition: 0.5s;
}

.content {

    margin: 100px 125px;
    display: flex;
    justify-content: center;
}

.content img {

    width: 520px;
    height: 384px;
}

.content .content-img h1 {

    text-align: center;
    color: #ED6A5A;
    font-size: 2em;
    margin-left: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content .content-img p {

    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}

.menus {

    transition: 1s;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.menu {

    position: relative;
    transition: 2s;
    height: 310px;
}

.menus .menu img {

    width: 250px;
    height: 210px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
}

.menuScroll {

    transform: translateY(10%);
    animation-name: ani;
}

@keyframes ani{

    0% {
        transform: translate(1%);
      }
      100% {
        transform: translate(10%);
      }
}

.menus .menu .box {

    box-shadow: 0 4px 4px 4px whitesmoke;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    opacity: 0.8;
    transition: 1s;
}

.menus .menu .box a {

    text-decoration: none;
    color: #ED6A5A;
    font-weight: bold;
    padding: 3px;
    border: 1px solid #ED6A5A;
}

.more {

    margin: 10px 4px auto;
}

.menus .menu .box h1 {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #454545;
}

.menus .menu .box h1,
p {

    padding-left: 4px;
}

.menus .menu img:hover {

    transition: 1s;
}

.title-menus {

    text-align: center;
    transform: translate(-50%, -50%);
    position: relative;
    font-family: cursive;
    padding-top: 200px;
    width: fit-content;
    top: 5%;
    left: 50%;
}

.m {

    background-color: #ED6A5A;
    border-radius: 5px;
    color: white;
}

.newPage {

    background-color: whitesmoke;
}

.end-content {

    margin: 200px auto auto;
    display: flex;
    align-items: center;
    text-align: center;
}

.end-content h1 {

    color: #ED6A5A;
}

.end-content p {

    color: black;
}

.end-content img {

    width: 700px;
    border-bottom-right-radius: 50px;
}

footer {

    /* box-shadow: 2px 20px 50px 20px   rgb(225, 223, 223); */
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
    box-shadow: 0 4px 100px 40px whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer p {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer .supportUs {

    width: 30%;
    margin-left: 30px;
    line-height: 1.5em;
}

footer .supportUs h2 {

    color: #ED6A5A;
}

footer .contactUs {

    margin-left: 50px;
    line-height: 1.5em;
}

footer .contactUs img {

    margin-bottom: -10px;
}

footer .contactUs h2 {

    color: #ED6A5A;
}

footer .feedback {

    margin-left: 50px;
}

footer .feedback input {

    border: none;
    outline: none;
    width: 102%;
    border-bottom: 2px solid #ED6A5A;
}

footer .feedback h2 {

    text-align: center;
    color: #ED6A5A;
}

footer .feedback button {

    border: none;
    outline: none;
    color: white;
    background-color: #454545;
    padding: 4px;
}

.message {

    color: green;
}

.row {

    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.about-box {

    box-shadow: 0 4px 4px 4px whitesmoke;
    cursor: pointer;
    transition: 0.5s;
    flex-basis: 30%;
    padding: 5px;
    width: 50%;
}

.about-box:hover {

    transition: 0.5s;
    transform: translateX(10px);
}

.about-box .user {

    display: flex;
    align-items: center;
}

.about-box h2 {

    color: #ED6A5A;
    padding-left: 5px;
}

.about-box p {

    margin-top: 10px;
    color: #454545;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-box img {

    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;

}

@media screen and (max-width:900px) {

    .image-slider img {

        height: 90vh;
    }

    .content img {

        width: 370px;
    }

    .end-content img {

        width: 500px;
    }
}

@media screen and (max-width:600px) {

    .image-slider img {

        height: 80vh;
    }

    .image-slider p {

        font-size: 1.2em;
    }

    .content {

        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .content img {

        width: 300px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
    }

    .menus .menu img {

        width: 350px;
    }

    .end-content {

        display: flex;
        flex-direction: column;
    }

    .end-content img {

        width: 100%;
        padding-bottom: 10px;
    }

    header>h1 {

        font-family: 'Montserrat', sans-serif;
        font-size: 2em;
        font-weight: bold;
        color: #454545;
        letter-spacing: 0.1em;
    }

    header nav a {

        display: none;
    }

    .menu-bar {

        display: block;
    }

    .items {

        display: none;
    }

    .items a {

        display: block;
        text-decoration: none;
        color: #454545;
        margin: 5px;
    }

    .row {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-box {

        width: 80%;
        margin-top: 30px;
    }

    footer {

        display: flex;
        flex-direction: column;
    }

    footer .supportUs {

        width: 90%;
        margin-left: 10px;
    }

    footer .contactUs {

        width: 90%;
        margin-top: 20px;
        margin-left: 10px;
    }

    footer .feedback {

        margin-left: 10px;
        margin-top: 20px;
        width: 60%;
    }

    footer .feedback h2 {

        text-align: left;
    }

    footer .feedback button {

        margin-left: 100px;
        margin-bottom: 50px;
    }
}
